<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= link_to redirect_entry_path(@encoded_id), redirect_entry_path(@encoded_id) %>
</p>
<p>
  <strong>Redirects to:</strong>
  <%= @entry.url %>
</p>

<%= link_to 'Create Another', new_entry_path %>
